DB_HOST=localhost
DB_PORT=5432
DB_NAME=eventos_db
DB_USER=postgres
DB_PASSWORD=eli12
JWT_SECRET=MiClaveSecreta2024MuyLarga
JWT_EXPIRES_IN=24h
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000